repos:
  - repo: local
    hooks:
      - id: qmlformat
        name: qmlformat (PySide6)
        entry: pyside6-qmlformat
        language: python
        additional_dependencies:
          - PySide6==6.10.1
        args: ["-i"]
        files: "\\.qml$"
        pass_filenames: true
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        language_version: python3.10

