[Desktop Entry]
Type=Application
Name=Lucent
Comment=Hybrid vector/raster digital design application
Exec=Lucent
Icon=appIcon
Categories=Graphics;2DGraphics;VectorGraphics;
Terminal=false

